# primmonera servilo
/src/servilo/primmonera-servilo
/src/servilo/testa-primmonera-servilo

# primmonera monujo
/src/monujo/Makefile
/src/monujo/build/
/src/monujo/primmonera-monujo
/src/monujo/testa-primmonera-monujo
/src/monujo/qrc_bitcoin.cpp

