# primmonerad (a.k.k. demono)
/src/primmonerad/primmonerad
/src/primmonerad/testa-primmonerad

# primmoneram (a.k.k. monujo)
/src/primmoneram/Makefile
/src/primmoneram/build/
/src/primmoneram/primmoneram
/src/primmoneram/testa-primmoneram
/src/primmoneram/qrc_bitcoin.cpp

