# Binaries
/src/primmonero/primmonero
/src/primmonero/testa-primmonero
/src/primmonerad/primmonerad
/src/primmonerad/testa-primmonerad

# Primmonerad

# Primmonero
/src/primmonero/build/
/src/primmonero/qrc_bitcoin.cpp
/src/primmonero/Makefile

